name: Update API Spec

on:
  push:
    branches-ignore:
      - main
  workflow_dispatch:

concurrency:
  group: api-spec-${{ github.ref }}
  cancel-in-progress: true

jobs:
  update-api-spec:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "18"
      - working-directory: "./packages/openapi-gen-ts"
        run: 'npm install'
      - run: ./tools/gen.sh
      - uses: EndBug/add-and-commit@v9
        with:
          add: .
          message: "Autogenerate config update"
          default_author: github_actions
