name: Validate

on:
  workflow_call:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: validate-${{ github.ref }}
  cancel-in-progress: true

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
      - working-directory: "./oxide-api"
        run: npm ci
      - name: Typecheck client
        working-directory: "./oxide-api"
        run: npm run tsc
      - working-directory: "./oxide-openapi-gen-ts"
        run: npm ci
      # TODO: this probably doesn't make sense anymore, it should be done already
      - name: Generate client
        run: "./tools/gen.sh"
      - name: Lint generator
        working-directory: "./oxide-openapi-gen-ts"
        run: npm run lint
      - name: Check formatting
        working-directory: "./oxide-openapi-gen-ts"
        run: npm run fmt:check
      - name: Test generator
        working-directory: "./oxide-openapi-gen-ts"
        run: npm test run
      # moved to the end because it relies on spec.json, which is downloaded by the tests
      - name: Typecheck generator
        working-directory: "./oxide-openapi-gen-ts"
        run: npm run tsc
