name: Validate

on:
  workflow_call:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: validate-${{ github.ref }}
  cancel-in-progress: true

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "18"
      - working-directory: "./oxide-api"
        run: npm install
      - name: Typecheck client
        working-directory: "./oxide-api"
        run: npm run tsc
      - working-directory: "./oxide-openapi-gen-ts"
        run: npm install
      # TODO: this probably doesn't make sense anymore, it should be done already
      - name: Generate client
        run: "./tools/gen.sh"
      - name: Typecheck generator
        working-directory: "./oxide-openapi-gen-ts"
        run: npm run tsc
      - name: Lint generator
        working-directory: "./oxide-openapi-gen-ts"
        run: npm run lint
      - name: Test generator
        working-directory: "./oxide-openapi-gen-ts"
        run: npm test run
