name: Validate

on:
  workflow_call:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: validate-${{ github.ref }}
  cancel-in-progress: true

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "16"
      - name: TypeCheck and Test
        shell: bash
        run: |
          npm install
          npm run tsc
          npm test
